
.content {
    font-family: 'Fjalla One', sans-serif;
    color: gray;
    text-align: center;  
}
  
  h2 {
    padding: 20px;
  }

  input {
      width: 400px;
      height: 100px;
      padding: 60px;
      text-align: center;
      font-size: x-large;
  }

  button {
      padding: 20px;
  }

  footer {
    font-family: 'Fjalla One', sans-serif;
    color: gray;
    text-align: center;
    padding: 100px;
  }